.App {
  text-align: center;
}

.inputTask{
  padding: 5px;
  margin-right: 8px;

}
ul{
  list-style: none;
}
li{
  margin: 13px ;
}
.deleteTask ,.addButton,.clearTasks{
  font-size: 10px;
  margin-left: 13px;

  border: none;
  color: black;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}
.checkBox{
  margin: 0 10px;
  margin-left: 13px;
}
